{% extends 'base.html' %}
{% load static %}

{% block title %}
 {{ user.username }}
{% endblock %}

{% block P_nav_icon_color %}
    style="color: #a6f06c;"
{% endblock %}

{% block content %}
<div class="container">
  

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #0f2a1e;">
        <div class="modal-header">
          <h3 class="modal-title fs-5 text-light" style="margin: auto" id="exampleModalLabel">Are You Sure ??</h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-x text-light" viewBox="0 0 16 16" data-dismiss="modal" aria-label="Close">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </div>
        <div class="modal-footer" style="justify-content: center;">
          <form method="POST">
            {% csrf_token %}
            <div class="btn btn-dark" data-dismiss="modal">Cancel</div>
            <button type="submit" class="btn btn-success">Sure</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="background-color: #0cb30230; text-align: center">
      <h5 style="color: #4ed94e;">First Name :</h5>
      <p style="color: white;">{{ user.first_name }}</p>
    </li>
    <li class="list-group-item" style="background-color: #0cb30230; text-align: center">
      <h5 style="color: #4ed94e;">Last Name :</h5>
      <p style="color: white;">{{ user.last_name }}</p>
    </li>
    <li class="list-group-item" style="background-color: #0cb30230; text-align: center">
      <h5 style="color: #4ed94e;">User Name :</h5>
      <p style="color: white;">{{ user.username }}</p>
    </li>
    <li class="list-group-item" style="background-color: #0cb30230; text-align: center">
      <h5 style="color: #4ed94e;">Email :</h5>
      <p style="color: white;">{{ user.email }}</p>
    </li>
    <li class="list-group-item" style="background-color: #0cb30230; text-align: center">
      <h5 style="color: #4ed94e;">You Can Logout Here : </h5>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Logout</button>
    </li>
  </ul>
</div>

{% endblock %}