{% extends 'base.html' %}
{% load static %}

{% block title %}
 Signup
{% endblock %}

{% block P_nav_icon_color %}
    style="color: #a6f06c;"
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 4rem;">
      <h3 class="text-center logTitle" style="color: #b1e588; opacity: .7; margin-top: 5vh;">Sign Up Here</h3>
      <form method="post" class="mt-5 mx-auto text-center" style="width: 40vh; margin-bottom: 5vh;">
        {% csrf_token %}
        <div class="form-group mt-5" id="first_name">
          <label for="first_nameid">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" id="first_name">
                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
              </svg>
          </label>
          <input style="z-index: 2;" id="first_nameid" type="text" placeholder="First Name" class="inpt text-center mx-auto col-10 col-sm-10 col-lg-10" value="{{ userInfo.first_name }}" onfocus="effct('first_name')" onblur="no_effct('first_name')" onkeyup="submit_active()" name="first_name">  
        </div>
        <div class="form-group mt-5" id="last_name">
          <label for="last_nameid">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" id="last_name">
                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
              </svg>
          </label>
          <input style="z-index: 2;" id="last_nameid" type="text" placeholder="Last Name" class="inpt text-center mx-auto col-10 col-sm-10 col-lg-10" value="{{ userInfo.last_name }}" onfocus="effct('last_name')" onblur="no_effct('last_name')" onkeyup="submit_active()" name="last_name">  
        </div>
        <div class="form-group mt-5" id="username"{% if usernameExist %}style="border-bottom: 3px red solid;"{% endif %}>
            <label for="usernameid">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" id="username">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                </svg>
            </label>
            <input style="z-index: 2;" id="usernameid" type="text" placeholder="username" class="inpt text-center mx-auto col-10 col-sm-10 col-lg-10" value="{{ userInfo.username }}" onfocus="effct('username')" onblur="no_effct('username')" onkeyup="submit_active()" name="username">  
          </div>
          {% if usernameExist %}
            <h6 class="text-danger">username already exists</h6>
          {% endif %}
        <div class="form-group mt-5" id="eml">
          <label for="emailid">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16" id="eml">
              <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
              <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
            </svg>
          </label>
          <input style="z-index: 2;" id="emailid" type="email" placeholder="Name@Gmail.domain" class="inpt text-center mx-auto col-10 col-sm-10 col-lg-10" onfocus="effct('eml')" value="{{ userInfo.email }}" onblur="no_effct('eml')" onkeyup="submit_active()" name="eml">  
        </div>
        
        <div class="form-group mt-5" id="pass" {% if passvInv %}style="border-bottom: 3px red solid;"{% endif %}>
          <label for="passwordid">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16" id="pass">
              <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
              <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
          </label>
          <input style="z-index: 2;" id="passwordid" type="password" placeholder="Password" class="inpt text-center mx-auto col-10 col-sm-10 col-lg-10" onfocus="effct('pass')" onblur="no_effct('pass')" onkeyup="submit_active()" name="pass">
        </div>

        <div class="form-group mt-5" id="passv" {% if passvInv %}style="border-bottom: 3px red solid;"{% endif %}>
            <label for="passwordvid">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16" id="passv">
                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
              </svg>
            </label>
            <input style="z-index: 2;" id="passwordvid" type="password" placeholder="Password confirm" class="inpt text-center mx-auto col-10 col-sm-10 col-lg-10" onfocus="effct('passv')" onblur="no_effct('passv')" onkeyup="submit_active()" name="passv">
          </div>
        
        <div class="submit">
          <input type="submit" value="Sign up" class="btn col-4 col-sm-4 col-lg-4" disabled>
          <p class=" text-light mt-2">already heva an account : <a href="{% url 'signin' %}" hx-get="/signin" hx-trigger="click" hx-target="#bd" style="color: #c5ff9b;"><strong>Sign In</strong></a></p>
        </div>
        
      </form>
    </div>
    
{% endblock %}